<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LD.Utilities.ScanWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <gcConcurrent enabled="true" />
    <gcServer enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <LD.Utilities.ScanWin.Properties.Settings>
      <!-- AD_Max_Age - Filter to exclude devices and users that have not logged in within nn days. 0 will include all. -->
      <setting name="AD_Max_Age" serializeAs="String">
        <value>45</value>
      </setting>
      <!-- Max_Threads - The maximum number of concurrent inventory scans. -->
      <setting name="Max_Threads" serializeAs="String">
        <value>15</value>
      </setting>
      <!-- Scan_Frequency - How frequently to re-scan a device that has already been scanned in minutes -->
      <setting name="Scan_Frequency" serializeAs="String">
        <value>10080</value>
      </setting>
      <!-- Export_Last_Seen_Days - Devices that have not been sucessfully scanned within the last seen days are excluded from the XML exports. -->
      <setting name="Export_Last_Seen_Days" serializeAs="String">
        <value>365</value>
      </setting>
      <!-- LogToScreenLevel - The level of logging that will be displayed on the screen, 1,2,3,4 -->
      <setting name="LogToScreenLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <!-- Scan_Timeout - How long in seconds to wait for a computer scan to complete before aborting it. -->
      <setting name="Scan_Timeout" serializeAs="String">
        <value>650</value>
      </setting>
      <!-- DataStorePath - The path to the data store.
	                          'Default' signifies the default location, which is either:
                                  Same folder as AIT.exe if not in Program Files.
                                  or 'C:\ProgramData\Autodesk\AIT' if in Program Files.
                           Path should be absolute, for example:
                              C:\AIT\
                              \\Server\Share\AIT\
							  -->
      <setting name="DataStorePath" serializeAs="String">
        <value>%~0\..\Data\</value>
      </setting>
      <!-- PerComputerDataStore - If True, each inventoried computer running AIT will output a separate datastore with the name of the computer (used for Network Scan mode of operation)
                                  If False, results are output to the default DataStore.xml.
                -->
      <setting name="PerComputerDataStore" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- Force_WMI_Instrumentation - Force the use of Windows Management Instrumentation rather than auto-detecting if
                                       Windows Management Infrastructure is available. -->
      <setting name="Force_WMI_Instrumentation" serializeAs="String">
        <value>True</value>
      </setting>
    </LD.Utilities.ScanWin.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!-- Comment out the next line to disable logging to file. -->
    <!-- <add key="serilog:using:File" value="Serilog.Sinks.File" /> -->
    <add key="serilog:write-to:File.path" value="%PROGRAMDATA%\Autodesk\AIT\AIT-.txt" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level:u3}] {Message:lj}{NewLine}{Exception}" />
    <add key="serilog:minimum-level" value="Verbose" />
  </appSettings>
</configuration>