<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScanWinUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScanWinUi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <userSettings>
    <ScanWinUi.Properties.Settings>
      <setting name="TaskStartTime" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskHourlyDuration" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="TaskHourlyInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TaskExpiryDate" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskRecuringMonday" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskRecuringTuesday" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskRecuringWednesday" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskRecuringThursday" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskRecuringFriday" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskRecuringSaturday" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskRecuringSunday" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskOutputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="TaskExportAfterScanCompleted" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Light</value>
      </setting>
    </ScanWinUi.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ScanWinUi.Properties.Settings>
      <!-- DataStorePath - The path to the data store - this should match the setting in AIT.exe.config.
	                          'Default' signifies the default location, which is either:
                                  Same folder as ScanWin.exe if not in Program Files.
                                  or 'C:\ProgramData\Autodesk\AIT' if in Program Files.
                           Path should be absolute, for example:
                              C:\AIT\
                              \\Server\Share\AIT\
							  -->
      <setting name="DataStorePath" serializeAs="String">
        <value>Default</value>
      </setting>
    </ScanWinUi.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!-- Comment out the next line to disable logging to file. -->
    <!-- <add key="serilog:using:File" value="Serilog.Sinks.File" /> -->
    <add key="serilog:write-to:File.path" value="%PROGRAMDATA%\Autodesk\AIT\AITViewer-.txt" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level:u3}] {Message:lj}{NewLine}{Exception}" />
    <add key="serilog:minimum-level" value="Verbose" />
  </appSettings>
</configuration>