<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LicenseKeyInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <LicenseKeyInstaller.Properties.Settings>
      <setting name="Product" serializeAs="String">
        <value>ScanWin</value>
      </setting>
      <setting name="FileSpec" serializeAs="String">
        <value>ScanWin License|*.lkf</value>
      </setting>
      <setting name="TargetFile" serializeAs="String">
        <value>SecureApp.lkf</value>
      </setting>
      <setting name="StartApp" serializeAs="String">
        <value>ScanWinViewer.exe</value>
      </setting>
    </LicenseKeyInstaller.Properties.Settings>
  </applicationSettings>
</configuration>